@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Open+Sans&family=Playfair+Display&family=Roboto&family=Varela&display=swap');

.experience{
  background-color: rgb(227, 233, 239);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.title{
  color: var(--primaryColor)
}

.subtitle{
  color: grey;
}

.grade{
  color: rgb(140, 221, 100);
}